body {
  background-color: black;
  font-family: Consolas, sans-serif;
}

div, p {
  color: #cfcfcf;
}

div#timing-content {
  padding: 0px 50px 20px 50px;
}

div.header.row {
  display: flex;
  align-items: center;
  font-size: 16px;
  min-height: 30px;
}

.digital-counter {
  display: inline-block;
  min-width: 40px;
  text-align: right;
  font-family: Prime, sans-serif;
  font-size: 20px;
}

.table > thead > tr > th {
  border: none;
  background-color: #bd0000;
  padding-left: 8px;
  color: white;
}

.table > tbody > tr > td {
  font-size: 16px;
  border: none;
  padding: 4px 4px 4px 8px;
/*  padding-left: 8px;*/
}

table tr:nth-child(odd) {
  background-color: #111;
}

table tr:nth-child(even) {
  background-color: #222;
}

table .number-col {
  text-align: right;
}

.time-col {
  width: 80px;
  text-align: right;
}

.total-time {
  width: 100px;
}

.pit-col {
  width: 50px;
}

.lap-col {
  width: 50px;
}

table .position {
  text-align: center;
}

tbody td.number-col.position {
  width: 29px;
  font-style: italic;
  padding-left: 0px;
  padding-right: 0px;
}

td.position.connected {
  background-color: #bd0000;
  color: white;
}

tbody.td.number-col.position.disconnected {
  background-color: #3c3c3c;
}

.disconnected {
  color: #5e5e5e;
}

tbody td.recent-lap {
	font-weight: bold;
	background-color: #ff6400;
}

tbody tr.lead-lap {
	/*font-weight: bold;*/
}

tbody td.number-col.position.is-lapped {
  background-color: #0011aa !important;
}

.fastest-lap {
	font-weight: bold;
	color: white;
	background-color: purple;
}

.is-in-pit {
  color: #aaa;
}
